@charset "utf-8";

/* login */
.login-wrap{display:flex;background-color:#f2f4f6;height:100vh;}
.login-bg-area{flex-grow:1;background:url(../img/login/img_login.png) 50% 50% no-repeat;background-size:cover;display:flex;height:100%;align-items:center;padding-left:110px;}
.login-logo .text{font-size:40px;background-image: linear-gradient(to right, #6f00ff 0%, #046bff 100%); -webkit-background-clip: text;background-clip: text;-webkit-text-fill-color:transparent;font-weight:600;margin-top:12px;}
.login-form-area{position:relative;border-left:1px solid #fff;flex-shrink:0;height:100%;display:flex;padding:0 48px;align-items:center;}
.login-form{width:303px;}
.login-form h3{font-size:24px;line-height:29px;color:#38393b;font-weight:600;}
.login-form .form-list{margin-top:16px;}
.login-form .form-list > li{margin-top:10px;}
.login-form .form-list > li:first-of-type{margin-top:0;}
.login-form .btns-wrap{margin-top:16px;}
.login-form .valid{margin-top:15.5px;}
.login-form .copy{position:absolute;left:50%;bottom:40px;font-size:12px;color:#6f747d;transform:translateX(-50%);}

/* home */
.welcome-area h2{font-size:40px;line-height:48px;font-weight:600;background-image: linear-gradient(to right, #6f00ff 0%, #046bff);-webkit-background-clip: text;background-clip: text;-webkit-text-fill-color: transparent;}
.welcome-area .msg{font-size:34px;line-height:51px;color:#181818;font-weight:300;margin-top:8px;}
.welcome-area .msg strong{color:#0356cc;font-weight:600;}
.welcome-area .btn-base{margin-top:60px;}

.regist-list > li{margin-top:32px;}
.regist-list > li:first-of-type{margin-top:0;}
.regist-list > li .tit-wrp{position: relative;margin-bottom:12px;font-size:0;}
.regist-list > li .tit-wrp .tit{font-size:16px;line-height:24px;color:#181818;font-weight:600;display:inline-block;position: relative;}
.regist-list > li .tit-wrp .tit.essential{padding-right:8px;}
.regist-list > li .tit-wrp .tit.essential:after{content:'';display:block;width:6px;height:6px;background:url(../img/icon/ic_essential.svg) 0 0 no-repeat;position: absolute;right:0;top:0;}
.regist-list > li .tit-wrp .info{font-size:12px;color:#6f747d;margin-left:16px;}
.regist-list > li .tit-wrp .info em{color:#0356cc;}
.regist-list > li .tit-wrp.w-tip .tit,
.regist-list > li .tit-wrp.w-tip .btn-tip{vertical-align:middle;}
.regist-list > li .tit-wrp.w-tip .btn-tip{margin-left:9px;}
.regist-form{padding:16px 20px;background-color:#fff;border-radius:12px;}
.regist-form .form-list > li{position: relative;display:flex;margin-top:13px;align-items:center;}
.regist-form .form-list > li:first-of-type{margin-top:0;}
.regist-form .form-list > li > .label{width:100px;flex-shrink:0;}
.regist-form .form-list > li > .input-flex{flex-grow:1;}
.regist-form .form-top{border-bottom:1px solid #f2f4f6;padding-bottom:16px;margin-bottom:12px;position: relative;}
.regist-form .form-top:before, .regist-form .form-top:after{content:'';display:block;width:20px;height:1px;background-color:#f2f4f6;position: absolute;bottom:-1px;}
.regist-form .form-top:before{left:-20px;}
.regist-form .form-top:after{right:-20px;}
.regist-form .form-top > *{display:inline-block;vertical-align:middle;}
.regist-form .form-top .info{font-size:14px;line-height:21px;color:#6f747d;}
.regist-form .form-top .info + .radio-list{margin-left:16px;}

.result-info{display:flex;gap:0 8px;align-items:center;}
.result-info .tit{flex-shrink:0;font-size:14px;font-weight:600;color:#181818;line-height:21px;}
.result-info .result-area{font-size:14px;color:#38393b;line-height:21px;background-color: #f2f4f6;padding:7.5px 16px;flex-grow:1;border-radius:4px;display:flex;justify-content:space-between;}

.info-box{padding:16px;border:1px solid #d2d4d9;border-radius:4px;}
.info-box > ul > li{display:flex;align-items:center;margin-top:16px;}
.info-box > ul > li:first-of-type{margin-top:0;}
.info-box > ul > li > .label{flex-shrink:0;width:100px;font-size:14px;color:#181818;line-height:17px;}
.info-box > ul > li > .result-area{flex-grow:1;font-size:14px;font-weight:600;color:#181818;line-height:21px;}

.odd-tag-form{display:flex;justify-content:space-between;}
.odd-tag-form .odd-tag-list{width:340px;}
.odd-tag-form .odd-tag-check{width:410px;}
.odd-tag-form .tree-wrap{border-color:#d2d4d9;margin-top:8px;}
.odd-tag-form .tree-wrap:hover{border-color:#6f747d;}
.odd-tag-form .tree-wrap:hover dt{color:#6f747d;}
.odd-tag-form .tree-wrap > dl > dd{padding:0;max-height:402px;}
.odd-tag-form .tree-wrap > dl > dd > .tree-list{background-color:#f2f4f6;padding:12px 16px;}

/* map */
.search-list > li{margin-top:16px;position: relative;}
.search-list > li:first-of-type{margin-top:0;}

.label-wrap{display:inline-block;margin-bottom:5px;position: relative;}
.label-wrap .label{font-size:14px;line-height:21px;color:#181818;font-weight:600;line-height:21px;}
.label-wrap.tip{padding-right:24px;}
.label-wrap .btn-tip{position: absolute;right:0;top:2px;}
.label-wrap .tip-area{left:62px;top:23px;}

.tag-wrap{position: absolute;right:0;top:3.5px;font-size:0;}
.tag-wrap .label, .tag-wrap a{display:inline-block;vertical-align:middle;}
.tag-wrap .label{font-size:12px;color:#6f747d;line-height:14px;}
.tag-wrap a{width:24px;height:13px;margin-left:4px;background:url(../img/icon/ic_toggle_off.svg) 0 0 no-repeat;transition:background-image 0.2s;}
.tag-wrap a.on{background:url(../img/icon/ic_toggle_on.svg) 0 0 no-repeat;}

.search-list > li .tree-frame.c-scrollbar{width:342px;padding-bottom:8px;}
.search-list > li .tree-frame .tree-wrap{width:326px;}


.result-list{margin-top:4px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.result-list > li{border:1px solid #d2d4d9;border-radius:4px;background-color:#fff;overflow:hidden;margin-top:8px;}
.result-list > li:first-of-type{margin-top:0;}
.result-list > li:hover, .result-list > li.on{border:1px solid #046bff;}
.result-list dt{padding:8px 16px;position: relative;cursor:pointer;font-size:0;}
.result-list dt:after{content:'';display:block;width:10px;height:8px;background:url(../img/icon/ic_tree_arrow.svg) 0 0 no-repeat;position: absolute;right:16px;top:14px;transition:transform 0.2s;}
.result-list dt .date, .result-list dt .count{font-size:14px;color:#38393b;line-height:1.5;}
.result-list dt .date{font-weight:600;}
.result-list dt .count{margin-left:4px;}
.result-list dd{display:none;}
.result-list > li.on dt:after{transform:rotate(180deg);}
.result-list > li.on dd{display:block;}
.result-list > li .tb-list td{padding:4px 8px;}

.total-area{font-size:0;color:#6f747d;}
.total-area span{font-size:13px;display:inline-block;line-height:1.5;}
.total-area .label{font-weight:600;}
.total-area .num{font-weight:600;margin-left:8px;}
.total-area .num strong{color:#0356cc;font-weight:600;}
.total-area + .tb-wrap{margin-top:4px;}

.tag-detail .tit{font-size:14px;font-weight:600;color:#38393b;line-height:1.5;}
.tag-detail .tag-box{font-size:13px;color:#38393b;line-height:1.5;padding:8px;background-color:#f2f4f6;border-radius:4px;margin-top:8px;}

.video-detail .tit{font-size:14px;line-height:21px;color:#38393b;font-weight:600;}
.video-detail .tit + .video{margin-top:8px;}
.video-detail .scene-info{margin-top:16px;}
.video-detail .scene-info dt{font-size:12px;line-height:18px;color:#6f747d;font-weight:600;margin-bottom:4px;}
.video-detail .scene-info dd.c-scrollbar{overflow-y:auto;width:262px;max-height:371px;}
.video-detail .scene-info dd ul{width:246px;}
.video-detail .scene-info dd li{padding:4px 0;display:flex;justify-content:space-between;align-items:center;margin-top:8px;border-bottom:1px solid #f2f4f6;}
.video-detail .scene-info dd li:first-of-type{margin-top:0;}
.video-detail .scene-info dd li span{font-size:13px;line-height:20px;}
.video-detail .scene-info dd li span.label{color:#38393b;}
.video-detail .scene-info dd li span.time{color:#046bff;}

.video-detail-area{display:flex;gap:0 16px;}
.video-detail-area .video-detail{padding:16px;width:280px;overflow:hidden;flex-shrink:0;}
.video-detail-area .video-detail,
.video-detail-area .video-tab{border:1px solid #d2d4d9;border-radius:4px;}
.video-detail-area .video-tab{flex-grow:1;position:relative;padding-top:38px;overflow:hidden;}
.video-detail-area .video-tab .tab-base{position: absolute;left:-1px;top:-1px;right:-1px;border-radius:4px 4px 0 0;overflow:hidden;}
.video-detail-area .info-area{padding:8px 16px;border-bottom:1px solid #f2f4f6;display:flex;justify-content:space-between;align-items:center;}
.video-detail-area .info-area .info{font-size:13px;line-height:20px;color:#6f747d;padding-left:20px;position:relative;}
.video-detail-area .info-area .info:before{content:'';display:inline-block;width:16px;height:16px;background:url(../img/icon/ic_explanation.svg) 0 0 no-repeat;position:absolute;left:0;top:2px;}
.video-detail-area .chart-area{padding:16px 8px 16px 16px;overflow-y:auto;max-height:571px;}
.video-detail-area .chart-list > li{margin-top:16px;}
.video-detail-area .chart-list > li:first-of-type{margin-top:0;}
.video-detail-area .chart-list > li .tit{font-size:14px;line-height:21px;font-weight:bold;color:#38393b;margin-bottom:8px;}
.video-detail-area .chart-list.col2{display:flex;flex-wrap:wrap;gap:16px;}
.video-detail-area .chart-list.col2 > li{width:calc(50% - 8px);margin-top:0;}

#popup-statistic-info-moving .video-detail-area{min-height:687px;}
#popup-statistic-info-moving .video-detail-area .chart-area{max-height:590px;}

#popup-statistic-info .video-detail .scene-info dd li span.label,
#popup-statistic-info .video-detail .scene-info dd li span.time{font-weight:bold;}
#filter3 .tip-area{width:166px;left:87px;}

.data-chart-area{padding:16px 20px;background-color:#fff;border-radius:12px;}

.con-top-area{display:flex;justify-content:space-between;align-items:center;}
.con-top-area .info{font-size:13px;line-height:20px;color:#6f747d;padding-left:20px;position:relative;}
.con-top-area .info:before{content:'';display:inline-block;width:16px;height:16px;background:url(../img/icon/ic_explanation.svg) 0 0 no-repeat;position:absolute;left:0;top:2px;}

.chart-list-area{margin-top:16px;}
.chart-list-area > li{margin-top:32px;}
.chart-list-area > li:first-of-type{margin-top:0;}
.chart-list-area > li .tit{font-size:16px;line-height:1.5;color:#181818;font-weight:600;}
.chart-detail-area{padding:12px;background-color:#fff;border-radius:8px;margin-top:8px;}

/* 2025-12 */
.login-form-area .other-menu{display:flex;justify-content: center;margin-top:16px;gap:16px;}
.login-form-area .other-menu a{font-size:13px;font-weight:600;color:#38393b;text-decoration: underline;}
.login-form-area .sns-menu{margin-top:16px;}
.login-form-area .sns-menu li{margin-top:8px;}
.login-form-area .sns-menu li:first-child{margin-top:0;}
.login-form-area .sns-menu li a{display:block;border-radius:4px;padding:12px;text-align:center;font-size:14px;font-weight:600;}
.login-form-area .sns-menu li span{display:flex;align-items: center;gap:4px;justify-content: center;}
.login-form-area .sns-menu li span::before{content:'';display:block;width:16px;height:16px;}
.login-form-area .sns-menu li.naver a{background-color:#21c806;color:#fff;}
.login-form-area .sns-menu li.kakao a{background-color:#ffeb04;color:#3b1f1e;}
.login-form-area .sns-menu li.naver span::before{background:url('../img/icon/ico-naver.svg') 50% 50% no-repeat;}
.login-form-area .sns-menu li.kakao span::before{background:url('../img/icon/ico-kakao.svg') 50% 50% no-repeat;}
.login-form-area#signup{width:600px;}
.login-form-area#signup .login-form{width:100%;}
.login-form-area#signup .login-form > .input-wrap{margin-top:17px;}
.login-form-area#signup .input-wrap > .input-list{width:100%;}
.login-form-area#signup .input-wrap > .input-list > li{width:100%;}